In [ ]:
2. Conditional Statements
1. Write a program to check if a number is positive, negative, or zero.
2. Check if a number is even or odd.
3. Find the largest among three numbers.
4. Check if a year is a leap year.
5. Write a simple calculator using if-elif-else (add, subtract, multiply, divide).

In [8]:
# 1.writeb a program to check if a number is positive negative or zero 
x= int(input("enter the number"))
if x==0:
    print("your enter nukber is zero")
elif x>0:
    print("you enter number is positive")
else:
    print("your enter number is negative")

enter the number -1

your enter number is negative

In [16]:
# 2 check if a number is even or odd
x=int(input("enter the number"))
if x%2==0:
    print(" it even number")
else:
    print("it is odd number")

enter the number 3

it is odd number

In [18]:
# 3. find the largest among three number 
x,y,z=2,3,6
if x>y and x>z:
    print("x is big")
elif y>x and y>z:
    print("y is big ")
else:
    print("z is big ")

z is big

In [22]:
#5.Write a simple calculator using if-elif-else (add, subtract, multiply, divide).
x=float(input("enter the number"))
y=float(input("enter the number "))
t=input("enter the operator like + - / * ^ ")
if t=='+':
    r=x+y
    print(r)
elif t=='-':
    r=x-y
    print(r)
elif t=='/':
    r=x/y
    print(r)
else:
    r=x*y
    print(r)

enter the number 2
enter the number  4
enter the operator like + - / * ^  +

6.0

In [ ]:
#Check if a year is a leap year. 
# Check if a year is a leap year

year = int(input("Enter a year: "))

if (year % 4 == 0):
    if (year % 100 == 0):
        if (year % 400 == 0):
            print(year, "is a leap year.")
        else:
            print(year, "is not a leap year.")
    else:
        print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

In [26]:
year = int(input("enter the year:"))
if ( year % 4 == 0):
    if  year % 100 ==0:
       if year % 400 ==0:
           print(year , " is a leap year")
       else:
           print("is not a leap year")
    else:
        print(" is a leap year")
else:
    print("not is a leap year")

enter the year: 2001

not is a leap year

In [ ]:
Loops
1. Print numbers from 1 to 100 using a loop.
2. Print the multiplication table of a given number.
3. Find the sum of all numbers from 1 to n.
4. Count the number of digits in a number.
5. Calculate the factorial of a number.
6. Reverse a number (e.g., 1234 to 4321).
7. Check if a number is a palindrome.
8. Print Fibonacci series up to n terms.
9. Print all prime numbers between 1 and 100.
10. Check if a number is an Armstrong number.

In [32]:
#1. print number from 1 to 100 using a loop 
x= int(input("enter the number 100 only"))
for i in range(x+1):
    print(i)

enter the number 100 only 100

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [34]:
#2. Print the multiplication table of a given number.
x= int(input("enter the number "))
y=int(input("enter the number for multiplivcation table "))
for i in range(x+1):
    print(f' {y} x {i} = {y*i}')

enter the number  20
enter the number for multiplivcation table  5

 5 x 0 = 0
 5 x 1 = 5
 5 x 2 = 10
 5 x 3 = 15
 5 x 4 = 20
 5 x 5 = 25
 5 x 6 = 30
 5 x 7 = 35
 5 x 8 = 40
 5 x 9 = 45
 5 x 10 = 50
 5 x 11 = 55
 5 x 12 = 60
 5 x 13 = 65
 5 x 14 = 70
 5 x 15 = 75
 5 x 16 = 80
 5 x 17 = 85
 5 x 18 = 90
 5 x 19 = 95

In [ ]:
#Find the sum of all numbers from 1 to n.
x=int(input("enter the number "))
for i in range(1,x+1):

In [36]:
#4. Count the number of digits in a number.
x=int(input("enter the number "))
x.split()
print(x)

enter the number  23456

AttributeError: 'int' object has no attribute 'split'