In [ ]:
'''Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.'''

In [4]:
x=('apple','banana','cat')
print(x)

('apple', 'banana', 'cat')

In [6]:
'''Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
Allow Duplicates
Since tuples are indexed, they can have items with the same value:
'''
x=(1,2,3,4,1,34,90)
print(x)

(1, 2, 3, 4, 1, 34, 90)

In [10]:
# tuple len 
#to determine how many are ther ein a tuple use len function
x=(1,2,3,4,1,34,90)
print(len(x))

7

In [14]:
'''Create Tuple With One Item
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.'''
# if you want to create tuple with a one value you need to add comMA after the item 
z=(1,)
print(z)
print(type(z))

(1,)
<class 'tuple'>

In [16]:
'''Tuple Items - Data Types
Tuple items can be of any data type:'''
x=(1,2,3,'string','cat',2.3,4.5)
print(x)

(1, 2, 3, 'string', 'cat', 2.3, 4.5)

In [18]:
'''The tuple() Constructor
It is also possible to use the tuple() constructor to make a tuple.'''
x=tuple(('nithin',12,324,546,3241))
print(x)

('nithin', 12, 324, 546, 3241)

In [20]:
#Access Tuple Items
#You can access tuple items by referring to the index number, inside square brackets:
x=(12,2343,512343,5341353,4)
print(x[1])

2343

In [22]:
#Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

#But there are some workarounds.
x=(12,2343,512343,5341353,4)
y=list(x)
y.append(23)
y[1]='string'
x=tuple(y)
print(x)

(12, 'string', 512343, 5341353, 4, 23)

In [24]:
# loop in a tuple 
x=(1,2,3,45,5)
for i in x :
    print(i)

1
2
3
45
5

In [26]:
x=(1,2,3,45,5)
for i in range(len(x)):
    print(i)

0
1
2
3
4

In [28]:
x=(1,2,3,45,5)
i=0
while i<len(x):
    print(i)
    i=i+1

0
1
2
3
4

In [ ]:
Join Two Tuples
To join two or more tuples you can use the + operator:

In [30]:
x=(123,23435,124325,346,32)
y=(439,534,25388,2350)
print(x + y)

(123, 23435, 124325, 346, 32, 439, 534, 25388, 2350)

In [ ]:
Tuple Methods
Python has two built-in methods that you can use on tuples.

Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

In [34]:
x=(1,2,34,34,1,2,34)
y=x.count(1)
print(y)

2